fastapi==0.95.2
uvicorn[standard]==0.23.0
pydantic==1.10.7
motor==3.3.0
pytest==8.3.3
pytest-asyncio==0.21.0
beanie==1.18.0
fastapi-jwt-auth[asymmetric]
passlib==1.7.4
httpx
Flask-PyMongo
pymongo[srv]==4.8.0